In [55]:
pip install pandas rasterio geopandas osmnx pycountries

Requirement already satisfied: pandas in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'C:\Users\Luca\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: rasterio in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (1.3.10)
Requirement already satisfied: geopandas in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (0.14.4)
Requirement already satisfied: osmnx in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (1.9.3)
Requirement already satisfied: pycountries in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (1.0.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: cligj>=0.5 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (0.7.2)
Requirement already satisfied: certifi in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (2024.2.2)
Requirement already satisfied: attrs in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (23.2.0)
Requirement already satisfied: affine in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (2.4.0)
Requirement already satisfied: setuptools in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (58.1.0)
Requirement already satisfied: snuggs>=1.4.1 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (1.4.7)
Requirement already satisfied: click-plugins in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (1.1.1)
Requirement already satisfied: click>=4.0 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from rasterio) (8.1.7)
Requirement already satisfied: shapely>=1.8.0 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from geopandas) (2.0.4)
Requirement already satisfied: packaging in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from geopandas) (24.0)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from geopandas) (3.6.1)
Requirement already satisfied: fiona>=1.8.21 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from geopandas) (1.9.6)
Requirement already satisfied: requests>=2.27 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from osmnx) (2.31.0)
Requirement already satisfied: networkx>=2.5 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from osmnx) (3.3)
Requirement already satisfied: pydantic>=1.5 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pycountries) (2.7.1)
Requirement already satisfied: colorama in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from click>=4.0->rasterio) (0.4.6)
Requirement already satisfied: six in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.5->pycountries) (0.7.0)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.5->pycountries) (4.10.0)
Requirement already satisfied: pydantic-core==2.18.2 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from pydantic>=1.5->pycountries) (2.18.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27->osmnx) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27->osmnx) (2.2.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.27->osmnx) (3.3.2)
Requirement already satisfied: pyparsing>=2.1.6 in c:\users\luca\appdata\local\programs\python\python310\lib\site-packages (from snuggs>=1.4.1->rasterio) (3.1.2)

In [3]:
import rasterio as rio
import pandas as pd
import numpy as np

path = 'C:\\Users\\Luca\\Downloads\\GHS_BUILT_S_NRES_E2020_GLOBE_R2023A_54009_1000_V1_0\\GHS_BUILT_S_NRES_E2020_GLOBE_R2023A_54009_1000_V1_0.tif'
with rio.open(path) as src:
    
    # Se lee la imagen
    print('reading...')
    image = src.read()
    
    # Dimensiones de la imagen
    print('getting shapes...')
    bands, rows, cols = np.shape(image)
    
    # La imagen 2D se convierte a 1D
    print('getting radiances...')
    image1 = image.reshape (rows*cols,bands)
    
    
    # bounding box de la imagen
    print('getting bounds...')
    l,b,r,t = src.bounds
    
    # Resolution of image
    print('getting resolution...')
    res = src.res
    
    # Coordenadas X
    print('getting the coordinates...')
    X = np.arange(l, r, res[0])
    
    # Coordenadas Y
    Y = np.arange(t, b, -res[0])

reading...
getting shapes...
getting radiances...
getting bounds...
getting resolution...
getting the coordinates...

In [4]:
X,Y = np.meshgrid(X,Y)

In [5]:
X = np.array(X.flatten())
Y = np.array(Y.flatten())

In [6]:
df = np.column_stack((X, Y, image1))

In [7]:
df = pd.DataFrame(df)

In [8]:
df.columns = ['lon', 'lat', 'urban_builtup']

In [10]:
df.replace(to_replace = 4294967295, value = np.nan, inplace = True)
df.dropna(inplace = True, ignore_index = True)
len(df)

184700000

In [11]:
df.to_csv('urban_builtup.csv', index = False)

In [2]:
import pandas as pd
df = pd.read_csv('urban_builtup.csv')
df.urban_builtup.value_counts()

urban_builtup
0.0         182322195
60.0             2755
63.0             2638
50.0             2633
59.0             2616
              ...
180426.0            1
263834.0            1
126546.0            1
93110.0             1
115441.0            1
Name: count, Length: 142432, dtype: int64

In [3]:
df.sample()

                lon        lat  urban_builtup
45039709  5768000.0  5599000.0            0.0

In [4]:
df.describe()

                lon           lat  urban_builtup
count  1.847000e+08  1.847000e+08   1.847000e+08
mean   1.893075e+06  1.735151e+06   1.742033e+02
std    7.039024e+06  4.601900e+06   3.839914e+03
min   -1.774100e+07 -8.899000e+06   0.000000e+00
25%   -4.642000e+06 -1.300000e+06   0.000000e+00
50%    2.423000e+06  2.607000e+06   0.000000e+00
75%    7.255000e+06  5.535000e+06   0.000000e+00
max    1.795800e+07  8.800000e+06   9.332690e+05

In [8]:
df[df.lat > 85].lat.value_counts()

lat
90.00    36082
86.71    36082
86.58    36082
86.59    36082
86.60    36082
         ...
88.39    36082
88.40    36082
88.41    36082
88.42    36082
85.01    36082
Name: count, Length: 500, dtype: int64

In [6]:
len(df)/25

7388000.0

In [7]:
import numpy as np
steps = np.linspace(0, len(df), 26)

In [8]:
new_steps = []
for step in steps:
    new_steps.append(int(step))

In [9]:
#iteratively get the values, then restart kernel
cart = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup"

for i in range(0, len(new_steps)-1):
    print(f'iteration {i} generating df...')
    temp = df[new_steps[i]:new_steps[i+1]]
    print(f'iteration {i} exporting df...')
    temp.to_csv(f'{cart}\\urb_bu_{i}.csv', index = False)

iteration 0 generating df...
iteration 0 exporting df...
iteration 1 generating df...
iteration 1 exporting df...
iteration 2 generating df...
iteration 2 exporting df...
iteration 3 generating df...
iteration 3 exporting df...
iteration 4 generating df...
iteration 4 exporting df...
iteration 5 generating df...
iteration 5 exporting df...
iteration 6 generating df...
iteration 6 exporting df...
iteration 7 generating df...
iteration 7 exporting df...
iteration 8 generating df...
iteration 8 exporting df...
iteration 9 generating df...
iteration 9 exporting df...
iteration 10 generating df...
iteration 10 exporting df...
iteration 11 generating df...
iteration 11 exporting df...
iteration 12 generating df...
iteration 12 exporting df...
iteration 13 generating df...
iteration 13 exporting df...
iteration 14 generating df...
iteration 14 exporting df...
iteration 15 generating df...
iteration 15 exporting df...
iteration 16 generating df...
iteration 16 exporting df...
iteration 17 generating df...
iteration 17 exporting df...
iteration 18 generating df...
iteration 18 exporting df...
iteration 19 generating df...
iteration 19 exporting df...
iteration 20 generating df...
iteration 20 exporting df...
iteration 21 generating df...
iteration 21 exporting df...
iteration 22 generating df...
iteration 22 exporting df...
iteration 23 generating df...
iteration 23 exporting df...
iteration 24 generating df...
iteration 24 exporting df...

In [10]:
import pandas as pd
import os

cart = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup"

file = os.listdir(cart)[0]

In [11]:
i = 0
ap = 0
for file in os.listdir(cart):
    df = pd.read_csv(f'{cart}\\{file}', na_values = 4294967295)
    p = len(df[df.urban_builtup>0])
    print(f'{i}: {df.urban_builtup.max()}, {p}')
    i += 1
    ap += p

0: 129762.0, 721
1: 351323.0, 7949
2: 610998.0, 111969
3: 805666.0, 71548
4: 624193.0, 59164
5: 484180.0, 44965
6: 447406.0, 63684
7: 433912.0, 35634
8: 440850.0, 23887
9: 449607.0, 21648
10: 440315.0, 22962
11: 381478.0, 20651
12: 382255.0, 36960
13: 549092.0, 34939
14: 469851.0, 40882
15: 359031.0, 47362
16: 0.0, 0
17: 0.0, 0
18: 625440.0, 90477
19: 744373.0, 264602
20: 528832.0, 342970
21: 654533.0, 270299
22: 557212.0, 297582
23: 933269.0, 250228
24: 605676.0, 216722

In [12]:
ap

2377805

In [13]:
print(f'df: {len(df)}, non-null: {len(df[df.urban_builtup>0])}')

df: 7388000, non-null: 216722

In [14]:
df = df.dropna()
df = df[['lon','lat','urban_builtup']]
df

               lon        lat  urban_builtup
0        6959000.0  4287000.0            0.0
1        6960000.0  4287000.0            0.0
2        6961000.0  4287000.0            0.0
3        6962000.0  4287000.0            0.0
4        6963000.0  4287000.0            0.0
...            ...        ...            ...
7387995 -9646000.0  3802000.0            0.0
7387996 -9645000.0  3802000.0            0.0
7387997 -9644000.0  3802000.0            0.0
7387998 -9643000.0  3802000.0            0.0
7387999 -9642000.0  3802000.0            0.0

[7388000 rows x 3 columns]

In [15]:
x = df.loc[0, 'lon']
y = df.loc[0, 'lat']

from pyproj import Transformer
transformer = Transformer.from_crs('ESRI:54009', "EPSG:4326")
t = transformer.transform(x, y)
print(f'{(y,x)}: {t}')

from pyquadkey2 import quadkey
quad = quadkey.from_geo(t, 14)
print(quad)

(4287000.0, 6959000.0): (35.55712452553748, 78.91835775036847)
12311200222131

In [36]:
df.lon = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[0], axis = 1)
df.lat = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[1], axis = 1)

In [37]:
df

                lon        lat  urban_builtup
0       -119.060435  29.625629            0.0
1       -119.049553  29.625629            0.0
2       -119.038671  29.625629            0.0
3       -119.027789  29.625629            0.0
4       -119.016907  29.625629            0.0
...             ...        ...            ...
9399995  141.292406  24.560939            0.0
9399996  141.302987  24.560939            0.0
9399997  141.313567  24.560939            0.0
9399998  141.324148  24.560939            0.0
9399999  141.334728  24.560939            0.0

[9400000 rows x 3 columns]

550s elapsed time

In [41]:
os.listdir(cart)[24]

'urb_bu_4.csv'

In [16]:
df

               lon        lat  urban_builtup
0        6959000.0  4287000.0            0.0
1        6960000.0  4287000.0            0.0
2        6961000.0  4287000.0            0.0
3        6962000.0  4287000.0            0.0
4        6963000.0  4287000.0            0.0
...            ...        ...            ...
7387995 -9646000.0  3802000.0            0.0
7387996 -9645000.0  3802000.0            0.0
7387997 -9644000.0  3802000.0            0.0
7387998 -9643000.0  3802000.0            0.0
7387999 -9642000.0  3802000.0            0.0

[7388000 rows x 3 columns]

In [29]:
import time
start = time.time()
df['long'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[1], axis = 1)
df['lati'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[0], axis = 1)
time.time()-start

163.49652671813965

In [30]:
df

               lon        lat  urban_builtup        long       lati
0        6959000.0  4287000.0            0.0   78.918358  35.557125
1        6960000.0  4287000.0            0.0   78.929698  35.557125
2        6961000.0  4287000.0            0.0   78.941039  35.557125
3        6962000.0  4287000.0            0.0   78.952379  35.557125
4        6963000.0  4287000.0            0.0   78.963720  35.557125
...            ...        ...            ...         ...        ...
7387995 -9646000.0  3802000.0            0.0 -106.134613  31.354584
7387996 -9645000.0  3802000.0            0.0 -106.123610  31.354584
7387997 -9644000.0  3802000.0            0.0 -106.112607  31.354584
7387998 -9643000.0  3802000.0            0.0 -106.101604  31.354584
7387999 -9642000.0  3802000.0            0.0 -106.090601  31.354584

[7388000 rows x 5 columns]

In [31]:
((df.long.min(), df.long.max()), (df.lati.min(),df.lati.max()))

((-122.22770733223807, 141.79314264900032),
 (31.354583782446753, 35.55712452553748))

In [32]:
df['quadkey'] = df.apply(lambda x: str(quadkey.from_geo(transformer.transform(x['lon'], x['lat']),14)), axis = 1)

In [34]:
df

,lon,lat,urban_builtup,long,lati,quadkey
0,6959000.0,4287000.0,0.0,78.918358,35.557125,12311200222131
1,6960000.0,4287000.0,0.0,78.929698,35.557125,12311200223020
2,6961000.0,4287000.0,0.0,78.941039,35.557125,12311200223020
3,6962000.0,4287000.0,0.0,78.952379,35.557125,12311200223021
4,6963000.0,4287000.0,0.0,78.963720,35.557125,12311200223021
...,...,...,...,...,...,...
7387995,-9646000.0,3802000.0,0.0,-106.134613,31.354584,02312100122223
7387996,-9645000.0,3802000.0,0.0,-106.123610,31.354584,02312100122232
7387997,-9644000.0,3802000.0,0.0,-106.112607,31.354584,02312100122232
7387998,-9643000.0,3802000.0,0.0,-106.101604,31.354584,02312100122233
7387999,-9642000.0,3802000.0,0.0,-106.090601,31.354584,02312100122233

In [56]:
x = df.lon.min()
y = df.lat.min()

X = df.lon.max()
Y = df.lat.max()

((x,X),(y,Y))

((-8941000.0, 9458000.0), (7756000.0, 8800000.0))

In [58]:
(transformer.transform(x,y), transformer.transform(X,y), transformer.transform(x,Y), transformer.transform(X,Y))

((69.77895574062835, -174.74389807004576), (inf, inf), (inf, inf), (inf, inf))

In [41]:
##come fare
import time
start = time.time()
file = os.listdir(cart)[23]
num_or = file[7]
print('getting df...')
df = pd.read_csv(f'{cart}\\{file}', na_values = 4294967295)

from pyproj import Transformer
from pyquadkey2 import quadkey
transformer = Transformer.from_crs('ESRI:54009', "EPSG:4326")

print(f'getting quadkeys...{time.time()-start}')
df['quadkey'] = df.apply(lambda x: str(quadkey.from_geo(transformer.transform(x['lon'], x['lat']),14)), axis = 1)
print(f'grouping and exporting...{time.time()-start}')
df = df.groupby('quadkey', as_index = False)['urban_builtup'].mean()
df.to_csv(f'{cart}\\urb_bu_{num_or}.csv', index = False)
end = time.time()
print(f'finished. elapsed time: {end-start}')

getting df...
getting quadkeys...2.5920052528381348
grouping and exporting...128.60046291351318
finished. elapsed time: 134.981440782547

In [55]:
sav = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup_quad"
transformer = Transformer.from_crs('ESRI:54009', "EPSG:4326")
start = time.time()
i = 3
for file in os.listdir(cart):
    print(f'getting df{i}...')
    dfb = time.time()
    df = pd.read_csv(f'{cart}\\{file}')
    dfd = time.time()
    print(f'df{i} downloaded in {dfd-dfb}s')

    print('getting quadkeys...')
    qfb = time.time()
    df['quadkey'] = df.apply(lambda x: str(quadkey.from_geo(transformer.transform(x['lon'], x['lat']),14)), axis = 1)
    qfd = time.time()
    print(f'quadkeys for df{i} taken in {qfd-qfb}s')

    print('grouping and exporting...')
    gfb = time.time()
    df = df.groupby('quadkey', as_index = False)['urban_builtup'].mean()
    df.to_csv(f'{sav}\\urb_bu_quad{i}.csv', index = False)
    gfd = time.time()
    print(f'df{i} fixed and exported in {gfd-gfb}s')
    print(f'iteration {i} ended in {gfd-dfb}s')
    i += 1
print(f'operation ended in {time.time()-start}')

getting df3...
df3 downloaded in 2.076831102371216s
getting quadkeys...

AssertionError:

In [2]:
import pandas as pd
from pyproj import Transformer
from pyquadkey2 import quadkey
import os
cart = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup"
file = os.listdir(cart)[0]

df = pd.read_csv(f'{cart}\\{file}')

In [5]:
import time
start = time.time()
transformer = Transformer.from_crs('ESRI:54009', "EPSG:4326")
df['long'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[1], axis = 1)
df['lati'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[0], axis = 1)
time.time()-start

474.04119849205017

In [13]:
df[(df.lon == 8756000) & (df.long <=180)]

               lon        lat  urban_builtup        long       lati
5633297  8756000.0  7886000.0            0.0  179.974728  71.353062
5646197  8756000.0  7885000.0            0.0  179.900751  71.340785
5659097  8756000.0  7884000.0            0.0  179.826874  71.328510
5671997  8756000.0  7883000.0            0.0  179.753097  71.316238
5684897  8756000.0  7882000.0            0.0  179.679420  71.303968
...            ...        ...            ...         ...        ...
7325297  8756000.0  7761000.0            0.0  171.442151  69.838715
7340197  8756000.0  7760000.0            0.0  171.379214  69.826758
7355097  8756000.0  7759000.0            0.0  171.316354  69.814804
7369997  8756000.0  7758000.0            0.0  171.253572  69.802852
7384897  8756000.0  7757000.0            0.0  171.190866  69.790903

[130 rows x 5 columns]

In [16]:
df[df.long == df.long.min()]

               lon        lat  urban_builtup        long       lati
5904505 -8836000.0  7864000.0            0.0 -179.999801  71.083585

In [17]:
df[df.lon ==-8836000.0	]

               lon        lat  urban_builtup        long       lati
5440105 -8836000.0  7900000.0            0.0         inf        inf
5453005 -8836000.0  7899000.0            0.0         inf        inf
5465905 -8836000.0  7898000.0            0.0         inf        inf
5478805 -8836000.0  7897000.0            0.0         inf        inf
5491705 -8836000.0  7896000.0            0.0         inf        inf
...            ...        ...            ...         ...        ...
6665605 -8836000.0  7805000.0            0.0 -175.882801  70.367219
6678505 -8836000.0  7804000.0            0.0 -175.815693  70.355154
6691405 -8836000.0  7803000.0            0.0 -175.748671  70.343092
6704305 -8836000.0  7802000.0            0.0 -175.681734  70.331032
6717205 -8836000.0  7801000.0            0.0 -175.614883  70.318975

[100 rows x 5 columns]

In [24]:
import numpy as np

len(df[df.long != np.inf]) / len(df)

0.9922644829453168

In [54]:
sav = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup_quad" 
sav2 = "C:\\Users\\Luca\\Downloads\\RWI\\scarto"
transformer = Transformer.from_crs('ESRI:54009', "EPSG:4326")

start = time.time()
i = 3
for file in os.listdir(cart):
    print(f'getting df{i}...')
    dfb = time.time()
    df = pd.read_csv(f'{cart}\\{file}')
    dfd = time.time()
    print(f'df{i} downloaded in {dfd-dfb}s')

    print('getting wgs84 coordinates...')
    wfb = time.time()
    df['long'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[1], axis = 1)
    df['lati'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[0], axis = 1)
    print(f'percentage of good coordinates: {len(df[(df.long != np.inf) & (df.lati != np.inf)])/len(df)}')
    temp = df[(df.long == np.inf) | (df.lati == np.inf)][['lon', 'lat', 'urban_builtup']]
    temp.to_csv(f'{sav2}\\scarto_{i}.csv', index = False)
    df = df[(df.long != np.inf) & (df.lati != np.inf)]
    wfd = time.time()
    print(f'wgs84 taken in {wfd-wfb}s')
    
    print('getting quadkeys...')
    qfb = time.time()
    df['quadkey'] = df.apply(lambda x: str(quadkey.from_geo((x['lati'], x['long']),14)), axis = 1)
    qfd = time.time()
    print(f'quadkeys for df{i} taken in {qfd-qfb}s')

    print('grouping and exporting...')
    gfb = time.time()
    df = df.groupby('quadkey', as_index = False)['urban_builtup'].mean()
    df.to_csv(f'{sav}\\urb_bu_quad{i}.csv', index = False)
    gfd = time.time()
    print(f'df{i} fixed and exported in {gfd-gfb}s')
    print(f'iteration {i} ended in {gfd-dfb}s')
    i += 1
print(f'operation ended in {time.time()-start}')

getting df3...
df3 downloaded in 2.061412811279297s
getting wgs84 coordinates...
percentage of good coordinates: 0.9922644829453168
wgs84 taken in 172.1896824836731s
getting quadkeys...
quadkeys for df3 taken in 118.91479301452637s
grouping and exporting...
df3 fixed and exported in 21.279582500457764s
iteration 3 ended in 314.4464752674103s
getting df4...
df4 downloaded in 4.130116701126099s
getting wgs84 coordinates...
percentage of good coordinates: 0.9811490254466703
wgs84 taken in 202.4762613773346s
getting quadkeys...
quadkeys for df4 taken in 128.4526128768921s
grouping and exporting...
df4 fixed and exported in 16.757311582565308s
iteration 4 ended in 351.81830286979675s
getting df5...
df5 downloaded in 3.2099521160125732s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 205.7428650856018s
getting quadkeys...
quadkeys for df5 taken in 121.52257466316223s
grouping and exporting...
df5 fixed and exported in 5.529694557189941s
iteration 5 ended in 336.0071153640747s
getting df6...
df6 downloaded in 3.5336740016937256s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 214.76477885246277s
getting quadkeys...
quadkeys for df6 taken in 127.106858253479s
grouping and exporting...
df6 fixed and exported in 5.225811243057251s
iteration 6 ended in 350.633287191391s
getting df7...
df7 downloaded in 3.272023916244507s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 212.01558446884155s
getting quadkeys...
quadkeys for df7 taken in 132.5562059879303s
grouping and exporting...
df7 fixed and exported in 4.5966925621032715s
iteration 7 ended in 352.44050693511963s
getting df8...
df8 downloaded in 3.523482084274292s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 213.51325798034668s
getting quadkeys...
quadkeys for df8 taken in 125.77316308021545s
grouping and exporting...
df8 fixed and exported in 4.32816481590271s
iteration 8 ended in 347.1393995285034s
getting df9...
df9 downloaded in 3.3344500064849854s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 224.12539625167847s
getting quadkeys...
quadkeys for df9 taken in 132.37475562095642s
grouping and exporting...
df9 fixed and exported in 4.408899784088135s
iteration 9 ended in 364.2445421218872s
getting df10...
df10 downloaded in 3.4772543907165527s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 219.56222248077393s
getting quadkeys...
quadkeys for df10 taken in 125.1324667930603s
grouping and exporting...
df10 fixed and exported in 4.1901631355285645s
iteration 10 ended in 352.3643925189972s
getting df11...
df11 downloaded in 2.9992024898529053s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 220.0133101940155s
getting quadkeys...
quadkeys for df11 taken in 126.50274467468262s
grouping and exporting...
df11 fixed and exported in 4.107948303222656s
iteration 11 ended in 353.6252017021179s
getting df12...
df12 downloaded in 3.3465020656585693s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 209.58144521713257s
getting quadkeys...
quadkeys for df12 taken in 134.60405659675598s
grouping and exporting...
df12 fixed and exported in 5.347115755081177s
iteration 12 ended in 352.88212394714355s
getting df13...
df13 downloaded in 5.863592624664307s
getting wgs84 coordinates...
percentage of good coordinates: 0.9988202490525177
wgs84 taken in 208.97208333015442s
getting quadkeys...
quadkeys for df13 taken in 134.30908727645874s
grouping and exporting...
df13 fixed and exported in 4.062545537948608s
iteration 13 ended in 353.2073087692261s
getting df14...
df14 downloaded in 3.943117141723633s
getting wgs84 coordinates...
percentage of good coordinates: 0.9959933676231727
wgs84 taken in 216.73797130584717s
getting quadkeys...
quadkeys for df14 taken in 133.7949812412262s
grouping and exporting...
df14 fixed and exported in 4.9429931640625s
iteration 14 ended in 359.4202687740326s
getting df15...
df15 downloaded in 3.367938280105591s
getting wgs84 coordinates...
percentage of good coordinates: 0.9959687330806714
wgs84 taken in 221.71851897239685s
getting quadkeys...
quadkeys for df15 taken in 129.76665902137756s
grouping and exporting...
df15 fixed and exported in 15.944316864013672s
iteration 15 ended in 370.79942989349365s
getting df16...
df16 downloaded in 3.4201037883758545s
getting wgs84 coordinates...
percentage of good coordinates: 0.9990860855441256
wgs84 taken in 215.78467202186584s
getting quadkeys...
quadkeys for df16 taken in 134.00793623924255s
grouping and exporting...
df16 fixed and exported in 4.671431303024292s
iteration 16 ended in 357.8851492404938s
getting df17...
df17 downloaded in 3.0203895568847656s
getting wgs84 coordinates...
percentage of good coordinates: 0.9999995939361126
wgs84 taken in 196.6560139656067s
getting quadkeys...
quadkeys for df17 taken in 121.00110387802124s
grouping and exporting...
df17 fixed and exported in 5.285511016845703s
iteration 17 ended in 325.964017868042s
getting df18...
df18 downloaded in 3.698378086090088s
getting wgs84 coordinates...
percentage of good coordinates: 0.9985782349756361
wgs84 taken in 197.40007638931274s
getting quadkeys...
quadkeys for df18 taken in 116.74496245384216s
grouping and exporting...
df18 fixed and exported in 7.95875358581543s
iteration 18 ended in 325.8041799068451s
getting df19...
df19 downloaded in 3.402993679046631s
getting wgs84 coordinates...
percentage of good coordinates: 0.9992321331889551
wgs84 taken in 193.92087841033936s
getting quadkeys...
quadkeys for df19 taken in 136.23987221717834s
grouping and exporting...
df19 fixed and exported in 22.693256378173828s
iteration 19 ended in 356.2591607570648s
getting df20...
df20 downloaded in 3.3344779014587402s
getting wgs84 coordinates...
percentage of good coordinates: 0.9458684353004873
wgs84 taken in 226.25909185409546s
getting quadkeys...

AssertionError:

In [34]:
x = df.long.min()
y = df.lati.min()

X = df.long.max()
Y = df.lati.max()

((x,X),(y,Y))

((-179.99980089210882, 179.99994802728236),
 (69.77895574062835, 84.52791255014186))

In [45]:
quadkey.from_geo((Y, x), 14)

00000200000220

In [64]:
len(df)

6988076

In [65]:
df = df[df.lati > -85.05112878]
len(df)

6507282

In [68]:
start = time.time()
i = 20
for file in os.listdir(cart)[17:]:
    print(f'getting df{i}... {file}')
    dfb = time.time()
    df = pd.read_csv(f'{cart}\\{file}')
    dfd = time.time()
    print(f'df{i} downloaded in {dfd-dfb}s')

    print('getting wgs84 coordinates...')
    wfb = time.time()
    df['long'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[1], axis = 1)
    df['lati'] = df.apply(lambda x: transformer.transform(x['lon'], x['lat'])[0], axis = 1)
    print(f'percentage of good coordinates: {len(df[(df.long != np.inf) & (df.lati != np.inf)])/len(df)}')
    temp = df[(df.long == np.inf) | (df.lati == np.inf) | (df.lati < -85.05112878)][['lon', 'lat', 'urban_builtup']]
    temp.to_csv(f'{sav2}\\scarto_{i}.csv', index = False)
    df = df[(df.long != np.inf) & (df.lati != np.inf) & (df.lati > -85.05112878)]
    wfd = time.time()
    print(f'wgs84 taken in {wfd-wfb}s')
    
    print('getting quadkeys...')
    qfb = time.time()
    df['quadkey'] = df.apply(lambda x: str(quadkey.from_geo((x['lati'], x['long']),14)), axis = 1)
    qfd = time.time()
    print(f'quadkeys for df{i} taken in {qfd-qfb}s')

    print('grouping and exporting...')
    gfb = time.time()
    df = df.groupby('quadkey', as_index = False)['urban_builtup'].mean()
    df.to_csv(f'{sav}\\urb_bu_quad{i}.csv', index = False)
    gfd = time.time()
    print(f'df{i} fixed and exported in {gfd-gfb}s')
    print(f'iteration {i} ended in {gfd-dfb}s')
    i += 1
print(f'operation ended in {time.time()-start}')

getting df20... urb_bu_24.csv
df20 downloaded in 2.31012225151062s
getting wgs84 coordinates...
percentage of good coordinates: 0.9458684353004873
wgs84 taken in 197.3504159450531s
getting quadkeys...
quadkeys for df20 taken in 247.5867133140564s
grouping and exporting...
df20 fixed and exported in 41.76491641998291s
iteration 20 ended in 489.012167930603s
getting df21... urb_bu_3.csv
df21 downloaded in 6.7121901512146s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 429.02103447914124s
getting quadkeys...
quadkeys for df21 taken in 263.33012795448303s
grouping and exporting...
df21 fixed and exported in 32.27119302749634s
iteration 21 ended in 731.3345456123352s
getting df22... urb_bu_4.csv
df22 downloaded in 7.4231483936309814s
getting wgs84 coordinates...
percentage of good coordinates: 0.9985661884136438
wgs84 taken in 433.1471860408783s
getting quadkeys...
quadkeys for df22 taken in 269.5083019733429s
grouping and exporting...
df22 fixed and exported in 24.611942768096924s
iteration 22 ended in 734.6905791759491s
getting df23... urb_bu_5.csv
df23 downloaded in 6.686178207397461s
getting wgs84 coordinates...
percentage of good coordinates: 0.9994856524093124
wgs84 taken in 429.20218873023987s
getting quadkeys...
quadkeys for df23 taken in 273.5388617515564s
grouping and exporting...
df23 fixed and exported in 20.09528374671936s
iteration 23 ended in 729.5225124359131s
getting df24... urb_bu_6.csv
df24 downloaded in 6.539454460144043s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 432.8356168270111s
getting quadkeys...
quadkeys for df24 taken in 265.23764395713806s
grouping and exporting...
df24 fixed and exported in 17.892441511154175s
iteration 24 ended in 722.506965637207s
getting df25... urb_bu_7.csv
df25 downloaded in 6.452648878097534s
getting wgs84 coordinates...
percentage of good coordinates: 1.0
wgs84 taken in 432.3722972869873s
getting quadkeys...
quadkeys for df25 taken in 263.22318816185s
grouping and exporting...
df25 fixed and exported in 15.767899990081787s
iteration 25 ended in 717.8160343170166s
operation ended in 4124.893265008926

In [5]:
import pandas as pd
import os
sav = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup_quad" 
df = pd.DataFrame(columns = ['quadkey', 'urban_builtup'])

for file in os.listdir(sav):
    temp = pd.read_csv(f'{sav}\\{file}')
    print(f'{file}: {len(temp)}')

    df = pd.concat([df, temp])
    print(f'dataset: {df.shape}')

urb_bu_quad1.csv: 1974481

C:\Users\Luca\AppData\Local\Temp\ipykernel_964\3556335879.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])

dataset: (1974481, 2)
urb_bu_quad10.csv: 1259883
dataset: (3234364, 2)
urb_bu_quad11.csv: 1242666
dataset: (4477030, 2)
urb_bu_quad12.csv: 1247197
dataset: (5724227, 2)
urb_bu_quad13.csv: 1275688
dataset: (6999915, 2)
urb_bu_quad14.csv: 1329975
dataset: (8329890, 2)
urb_bu_quad15.csv: 5448390
dataset: (13778280, 2)
urb_bu_quad16.csv: 1421628
dataset: (15199908, 2)
urb_bu_quad17.csv: 1576669
dataset: (16776577, 2)
urb_bu_quad18.csv: 2592239
dataset: (19368816, 2)
urb_bu_quad19.csv: 6946654
dataset: (26315470, 2)
urb_bu_quad2.csv: 1779743
dataset: (28095213, 2)
urb_bu_quad20.csv: 6507282
dataset: (34602495, 2)
urb_bu_quad21.csv: 4460033
dataset: (39062528, 2)
urb_bu_quad22.csv: 3536334
dataset: (42598862, 2)
urb_bu_quad23.csv: 2967252
dataset: (45566114, 2)
urb_bu_quad24.csv: 2547223
dataset: (48113337, 2)
urb_bu_quad25.csv: 2225810
dataset: (50339147, 2)
urb_bu_quad3.csv: 7128452
dataset: (57467599, 2)
urb_bu_quad4.csv: 6003141
dataset: (63470740, 2)
urb_bu_quad5.csv: 1640397
dataset: (65111137, 2)
urb_bu_quad6.csv: 1520075
dataset: (66631212, 2)
urb_bu_quad7.csv: 1429140
dataset: (68060352, 2)
urb_bu_quad8.csv: 1356178
dataset: (69416530, 2)
urb_bu_quad9.csv: 1293460
dataset: (70709990, 2)

In [6]:
len(df.quadkey.unique())

70649257

In [7]:
df = df.groupby('quadkey', as_index = False).mean()
len(df[df.urban_builtup > 0])

1417366

In [10]:
len(df[df.urban_builtup > 500000])

33

In [12]:
df.to_csv(f'{sav}\\builtup_quad.csv', index = False)

In [3]:
import pandas as pd
import os

sav2 = "C:\\Users\\Luca\\Downloads\\RWI\\scarto"

df = pd.DataFrame(columns = ['lon', 'lat', 'urban_builtup'])

for file in os.listdir(sav2):
    temp = pd.read_csv(f'{sav2}\\{file}')
    print(f'{file}: {len(temp)}')

    df = pd.concat([df, temp])
    print(f'dataset: {df.shape}')

scarto_10.csv: 0
dataset: (0, 3)
scarto_11.csv: 0
dataset: (0, 3)
scarto_12.csv: 0
dataset: (0, 3)
scarto_13.csv: 8716
dataset: (8716, 3)
scarto_14.csv: 29601
dataset: (38317, 3)
scarto_15.csv: 29783
dataset: (68100, 3)
scarto_16.csv: 6752
dataset: (74852, 3)
scarto_17.csv: 3
dataset: (74855, 3)
scarto_18.csv: 10504
dataset: (85359, 3)
scarto_19.csv: 5673
dataset: (91032, 3)

C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])

scarto_20.csv: 880718
dataset: (971750, 3)
scarto_21.csv: 0
dataset: (971750, 3)
scarto_22.csv: 10593
dataset: (982343, 3)
scarto_23.csv: 3800
dataset: (986143, 3)
scarto_24.csv: 0
dataset: (986143, 3)
scarto_25.csv: 0
dataset: (986143, 3)

C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])

scarto_3.csv: 57150
dataset: (1043293, 3)
scarto_4.csv: 139271
dataset: (1182564, 3)
scarto_5.csv: 0
dataset: (1182564, 3)
scarto_6.csv: 0
dataset: (1182564, 3)
scarto_7.csv: 0
dataset: (1182564, 3)
scarto_8.csv: 0
dataset: (1182564, 3)
scarto_9.csv: 0
dataset: (1182564, 3)

C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])
C:\Users\Luca\AppData\Local\Temp\ipykernel_12348\3628413926.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp])

In [4]:
df.describe()

                lon           lat  urban_builtup
count  1.182564e+06  1.182564e+06      1182564.0
mean   7.348994e+05 -5.169868e+06            0.0
std    6.690451e+06  6.547683e+06            0.0
min   -1.764100e+07 -8.899000e+06            0.0
25%   -3.629000e+06 -8.863000e+06            0.0
50%    4.770000e+05 -8.796000e+06            0.0
75%    4.794000e+06 -5.895000e+06            0.0
max    1.795800e+07  8.000000e+06            0.0

In [57]:
import os
countries = "C:\\Users\\Luca\\Downloads\\RWI\\pop_dens"
paesi_train = []

for file in os.listdir(countries):
    paese = file[0:3].upper()
    paesi_train.append(paese)
len(paesi_train)

56

In [56]:
path = "C:\\Users\\Luca\\Downloads\\RWI\\builtup\\builtup_quad.csv"
bu = pd.read_csv(path)
bu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70649257 entries, 0 to 70649256
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   quadkey        int64
 1   urban_builtup  float64
dtypes: float64(1), int64(1)
memory usage: 1.1 GB

In [58]:
pop = pd.read_csv(f'{countries}\\alb_pop_quad.csv')
pop = pop[['quadkey', 'population']]
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18832 entries, 0 to 18831
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   quadkey     18832 non-null  int64
 1   population  18832 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 294.4 KB

In [59]:
pop.describe()

            quadkey    population
count  1.883200e+04  18832.000000
mean   1.212523e+13   1437.793291
std    8.793520e+10   1488.171110
min    1.202332e+13     21.302222
25%    1.202333e+13    595.054122
50%    1.220111e+13   1006.963319
75%    1.220111e+13   1671.925008
max    1.220111e+13  22497.030894

Population rappresenta il numero di persone in 30 m; generalmente un'area è urbana se sorpassa i 1500 abitanti per km^2
quindi Pop = pers / 900 m^2 = pers / 0.0009 km^2 da cui dens = Pop * (1/0.0009)

Per Pakistan ed India rappresenta il numero di persone in 400 m, per cui Pop = pers / 160000 m^2 da cui dens = Pop * (1/0.16)

In [60]:
data = pop.merge(bu, on = 'quadkey', how = 'left')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18832 entries, 0 to 18831
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   quadkey        18832 non-null  int64
 1   population     18832 non-null  float64
 2   urban_builtup  18832 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 441.5 KB

In [61]:
len(data[data.population >= 1500])

5573

In [64]:
data.describe()

            quadkey    population  urban_builtup
count  1.883200e+04  18832.000000   18832.000000
mean   1.212523e+13   1437.793291     390.780737
std    8.793520e+10   1488.171110    3406.241216
min    1.202332e+13     21.302222       0.000000
25%    1.202333e+13    595.054122       0.000000
50%    1.220111e+13   1006.963319       0.000000
75%    1.220111e+13   1671.925008       0.000000
max    1.220111e+13  22497.030894  132103.250000

In [62]:
import numpy as np
data['urban'] = np.where((data.urban_builtup >= data.urban_builtup.mean()) | (data.population > 1500), True, False)
data[data.urban == True]

              quadkey   population  urban_builtup  urban
67     12023321312213  1142.701175    1396.000000   True
71     12023321312302  1142.701175    1509.333333   True
152    12023321330033  1364.684921    1713.333333   True
161    12023321330120  1142.701175    1363.750000   True
163    12023321330122  1158.768679    2159.000000   True
...               ...          ...            ...    ...
18820  12201113320311  1739.898357       0.000000   True
18821  12201113320312  1846.630043       0.000000   True
18822  12201113320313  1846.630043       0.000000   True
18823  12201113321000  1638.120517       0.000000   True
18828  12201113321200  1785.640508       0.000000   True

[6050 rows x 4 columns]

In [66]:
data[(data.population < 1500) & (data.urban_builtup > data.urban_builtup.mean())]

              quadkey   population  urban_builtup  urban
67     12023321312213  1142.701175    1396.000000   True
71     12023321312302  1142.701175    1509.333333   True
152    12023321330033  1364.684921    1713.333333   True
161    12023321330120  1142.701175    1363.750000   True
163    12023321330122  1158.768679    2159.000000   True
...               ...          ...            ...    ...
18486  12201113220113   612.809503     867.000000   True
18643  12201113300000  1059.831116    1583.333333   True
18645  12201113300002  1287.340932     800.500000   True
18650  12201113300013   515.378871     582.000000   True
18669  12201113300122   350.165566     777.500000   True

[477 rows x 4 columns]

da ora in avanti, chiameremo la variabile di superficie occupata da costrutti solo builtup, 
e la variabile booleana urban_or_builtup

In [73]:
sav = "C:\\Users\\Luca\\Downloads\\RWI\\urban_builtup_bool"
bu = bu.rename(columns = {'urban_builtup': 'builtup'})

for file in os.listdir(countries):
    country = file[0:3]
    print(f'reading {country} population dataset...')
    pop = pd.read_csv(f'{countries}\\{file}')
    pop = pop[['quadkey', 'population']]
    print(f'population dataset read. len: {len(pop)}')

    print('merging with the builtup dataset...')
    data = pop.merge(bu, on = 'quadkey', how = 'left')
    print(data[['population', 'builtup']].isnull().sum())

    print(f'mean builtup for {country}: {data.builtup.mean()}')
    print(f'mean population density for {country}: {data.population.mean()}')
    print(f'number of areas with builtup over the average: {len(data[data.builtup >= data.builtup.mean()])}')
    print(f'number of areas considered urban: {len(data[data.population > data.population.mean()])}')
    data['urban_or_builtup'] = np.where((data.builtup >= data.builtup.mean()) | (data.population > data.population.mean()), 1, 0)
    print(f'percentage of areas considered urban or builtup: {100*data.urban_or_builtup.mean()}')
    data.to_csv(f'{sav}\\{country}_urban_builtup.csv', index = False)

reading ago population dataset...
population dataset read. len: 99565
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for ago: 51.07765634478233
mean population density for ago: 11590.662477025777
number of areas with builtup over the average: 1256
number of areas considered urban: 40262
percentage of areas considered urban or builtup: 41.08672726359664
reading alb population dataset...
population dataset read. len: 18832
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for alb: 390.78073668932313
mean population density for alb: 1437.7932907063616
number of areas with builtup over the average: 1036
number of areas considered urban: 5923
percentage of areas considered urban or builtup: 33.83071367884452
reading arm population dataset...
population dataset read. len: 15259
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for arm: 320.84240994385823
mean population density for arm: 2973.3623950789224
number of areas with builtup over the average: 669
number of areas considered urban: 5358
percentage of areas considered urban or builtup: 37.715446621665905
reading bdi population dataset...
population dataset read. len: 4291
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for bdi: 63.46072760262342
mean population density for bdi: 2955.533376890723
number of areas with builtup over the average: 390
number of areas considered urban: 1304
percentage of areas considered urban or builtup: 34.16453041249126
reading ben population dataset...
population dataset read. len: 40332
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for ben: 153.00074331461568
mean population density for ben: 8766.103167995843
number of areas with builtup over the average: 1160
number of areas considered urban: 12569
percentage of areas considered urban or builtup: 33.43251016562531
reading bfa population dataset...
population dataset read. len: 81958
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for bfa: 19.14748758268366
mean population density for bfa: 13088.6732776487
number of areas with builtup over the average: 2780
number of areas considered urban: 31483
percentage of areas considered urban or builtup: 40.60250372141829
reading bol population dataset...
population dataset read. len: 110454
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for bol: 53.39030047630257
mean population density for bol: 3884.4597383359455
number of areas with builtup over the average: 3844
number of areas considered urban: 41215
percentage of areas considered urban or builtup: 39.38743730421714
reading civ population dataset...
population dataset read. len: 51724
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for civ: 53.738618190812524
mean population density for civ: 15133.119355492678
number of areas with builtup over the average: 759
number of areas considered urban: 18497
percentage of areas considered urban or builtup: 36.592297579460215
reading cmr population dataset...
population dataset read. len: 31451
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for cmr: 81.88142946473047
mean population density for cmr: 1071.7090269542148
number of areas with builtup over the average: 648
number of areas considered urban: 6385
percentage of areas considered urban or builtup: 20.832405964834187
reading cod population dataset...
population dataset read. len: 217537
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for cod: 37.73151318319795
mean population density for cod: 12131.39764653591
number of areas with builtup over the average: 3715
number of areas considered urban: 76601
percentage of areas considered urban or builtup: 36.300491410656576
reading col population dataset...
population dataset read. len: 127656
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for col: 158.29818294217793
mean population density for col: 5980.7272192222
number of areas with builtup over the average: 3787
number of areas considered urban: 41948
percentage of areas considered urban or builtup: 34.27884314094128
reading com population dataset...
population dataset read. len: 269
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for com: 134.5124417300997
mean population density for com: 36743.2085786973
number of areas with builtup over the average: 22
number of areas considered urban: 37
percentage of areas considered urban or builtup: 21.933085501858738
reading dom population dataset...
population dataset read. len: 7132
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for dom: 281.0040498223967
mean population density for dom: 10770.222017730788
number of areas with builtup over the average: 440
number of areas considered urban: 2472
percentage of areas considered urban or builtup: 37.324733595064494
reading egy population dataset...
population dataset read. len: 49108
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for egy: 403.4622429378201
mean population density for egy: 4208.100413259641
number of areas with builtup over the average: 1667
number of areas considered urban: 16118
percentage of areas considered urban or builtup: 34.303983057750266
reading eth population dataset...
population dataset read. len: 105243
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for eth: 19.06996542695069
mean population density for eth: 25402.200650898343
number of areas with builtup over the average: 1269
number of areas considered urban: 20418
percentage of areas considered urban or builtup: 20.30443829993444
reading gab population dataset...
population dataset read. len: 8384
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for gab: 107.89341115541319
mean population density for gab: 9694.455448901157
number of areas with builtup over the average: 218
number of areas considered urban: 2824
percentage of areas considered urban or builtup: 35.32919847328244
reading gha population dataset...
population dataset read. len: 52718
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for gha: 72.48756971806263
mean population density for gha: 13804.438984460512
number of areas with builtup over the average: 1149
number of areas considered urban: 20372
percentage of areas considered urban or builtup: 39.933229636936154
reading gin population dataset...
population dataset read. len: 50813
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for gin: 32.989752169407964
mean population density for gin: 14711.853862571896
number of areas with builtup over the average: 1266
number of areas considered urban: 19793
percentage of areas considered urban or builtup: 40.521126483380236
reading gmb population dataset...
population dataset read. len: 5465
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for gmb: 20.35853628429109
mean population density for gmb: 5980.251414101398
number of areas with builtup over the average: 182
number of areas considered urban: 2484
percentage of areas considered urban or builtup: 46.86184812442818
reading gtm population dataset...
population dataset read. len: 33249
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for gtm: 157.60308802699402
mean population density for gtm: 8014.695311795349
number of areas with builtup over the average: 1203
number of areas considered urban: 12651
percentage of areas considered urban or builtup: 39.63126710577762
reading guy population dataset...
population dataset read. len: 7736
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for guy: 37.79098263529818
mean population density for guy: 3319.576927219792
number of areas with builtup over the average: 178
number of areas considered urban: 2564
percentage of areas considered urban or builtup: 34.3846949327818
reading hnd population dataset...
population dataset read. len: 15842
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for hnd: 90.92329582003234
mean population density for hnd: 6841.793260923816
number of areas with builtup over the average: 436
number of areas considered urban: 5764
percentage of areas considered urban or builtup: 37.57732609519
reading hti population dataset...
population dataset read. len: 5073
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for hti: 165.04000215895545
mean population density for hti: 24118.620279927705
number of areas with builtup over the average: 279
number of areas considered urban: 1672
percentage of areas considered urban or builtup: 36.70411985018727
reading ind population dataset...
population dataset read. len: 491807
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for ind: 294.8018637706991
mean population density for ind: 3942.8137873494697
number of areas with builtup over the average: 19189
number of areas considered urban: 147905
percentage of areas considered urban or builtup: 31.30679311193212
reading jor population dataset...
population dataset read. len: 12053
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for jor: 361.03818818077303
mean population density for jor: 6287.349578057386
number of areas with builtup over the average: 536
number of areas considered urban: 4398
percentage of areas considered urban or builtup: 38.39707956525346
reading ken population dataset...
population dataset read. len: 74862
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for ken: 64.03072474517134
mean population density for ken: 17326.410249326025
number of areas with builtup over the average: 2019
number of areas considered urban: 9507
percentage of areas considered urban or builtup: 15.199967941011462
reading kgz population dataset...
population dataset read. len: 68224
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for kgz: 298.8715603502189
mean population density for kgz: 3068.150170757116
number of areas with builtup over the average: 2813
number of areas considered urban: 15696
percentage of areas considered urban or builtup: 25.722619606003754
reading lbr population dataset...
population dataset read. len: 20370
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for lbr: 38.14314325844885
mean population density for lbr: 19602.882038616208
number of areas with builtup over the average: 637
number of areas considered urban: 6573
percentage of areas considered urban or builtup: 34.40844378988709
reading lso population dataset...
population dataset read. len: 21250
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for lso: 55.42801344537814
mean population density for lso: 1372.6255918799566
number of areas with builtup over the average: 623
number of areas considered urban: 8015
percentage of areas considered urban or builtup: 38.78588235294117
reading mda population dataset...
population dataset read. len: 23143
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mda: 710.3998365236429
mean population density for mda: 1440.615544777764
number of areas with builtup over the average: 1535
number of areas considered urban: 8521
percentage of areas considered urban or builtup: 39.55839778766798
reading mdg population dataset...
population dataset read. len: 16959
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mdg: 62.491696102738906
mean population density for mdg: 94989.08884237833
number of areas with builtup over the average: 596
number of areas considered urban: 1450
percentage of areas considered urban or builtup: 11.65163040273601
reading mli population dataset...
population dataset read. len: 140057
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mli: 15.647339872734356
mean population density for mli: 8321.310038483174
number of areas with builtup over the average: 3488
number of areas considered urban: 52058
percentage of areas considered urban or builtup: 38.97770193564049
reading mmr population dataset...
population dataset read. len: 60148
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mmr: 64.9322113983919
mean population density for mmr: 1204.6628240122775
number of areas with builtup over the average: 851
number of areas considered urban: 11921
percentage of areas considered urban or builtup: 20.168584159074285
reading moz population dataset...
population dataset read. len: 158416
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for moz: 44.71180982650863
mean population density for moz: 5995.736804349757
number of areas with builtup over the average: 2659
number of areas considered urban: 68580
percentage of areas considered urban or builtup: 43.991768508231495
reading mrt population dataset...
population dataset read. len: 41458
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mrt: 58.00642771380025
mean population density for mrt: 6649.681185123794
number of areas with builtup over the average: 940
number of areas considered urban: 13928
percentage of areas considered urban or builtup: 35.14158907810314
reading mwi population dataset...
population dataset read. len: 47389
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for mwi: 25.577241587442266
mean population density for mwi: 11269.887710895951
number of areas with builtup over the average: 1140
number of areas considered urban: 19356
percentage of areas considered urban or builtup: 42.459220494207514
reading nam population dataset...
population dataset read. len: 81356
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for nam: 47.17366878922111
mean population density for nam: 2647.769945474759
number of areas with builtup over the average: 1787
number of areas considered urban: 26633
percentage of areas considered urban or builtup: 34.33059639116968
reading ner population dataset...
population dataset read. len: 93613
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for ner: 16.189657923816373
mean population density for ner: 12467.831322333119
number of areas with builtup over the average: 1643
number of areas considered urban: 34012
percentage of areas considered urban or builtup: 37.41253885678271
reading nga population dataset...
population dataset read. len: 167678
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for nga: 76.18669826256185
mean population density for nga: 12453.803003974052
number of areas with builtup over the average: 3256
number of areas considered urban: 61309
percentage of areas considered urban or builtup: 37.74078889299729
reading npl population dataset...
population dataset read. len: 21549
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for npl: 100.33796093731009
mean population density for npl: 10718.263337026325
number of areas with builtup over the average: 1134
number of areas considered urban: 4887
percentage of areas considered urban or builtup: 25.72277135829969
reading pak population dataset...
population dataset read. len: 111020
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for pak: 117.95895112206293
mean population density for pak: 3029.1497339202074
number of areas with builtup over the average: 2210
number of areas considered urban: 31855
percentage of areas considered urban or builtup: 29.01459196541164
reading per population dataset...
population dataset read. len: 108642
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for per: 103.77305834906143
mean population density for per: 5849.695642289461
number of areas with builtup over the average: 2952
number of areas considered urban: 32242
percentage of areas considered urban or builtup: 30.955799782772775
reading phl population dataset...
population dataset read. len: 54217
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for phl: 465.0999815629198
mean population density for phl: 19777.77338854681
number of areas with builtup over the average: 4875
number of areas considered urban: 14145
percentage of areas considered urban or builtup: 33.19438552483538
reading rwa population dataset...
population dataset read. len: 10055
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for rwa: 47.85757654329758
mean population density for rwa: 10170.709376423516
number of areas with builtup over the average: 684
number of areas considered urban: 3199
percentage of areas considered urban or builtup: 36.25062158130283
reading sen population dataset...
population dataset read. len: 31997
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for sen: 43.23831030042003
mean population density for sen: 6282.536213841316
number of areas with builtup over the average: 1053
number of areas considered urban: 13868
percentage of areas considered urban or builtup: 45.20736319029909
reading sle population dataset...
population dataset read. len: 15792
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for sle: 59.31557904042232
mean population density for sle: 13772.982176176005
number of areas with builtup over the average: 425
number of areas considered urban: 5700
percentage of areas considered urban or builtup: 37.48100303951368
reading swz population dataset...
population dataset read. len: 3523
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for swz: 58.88016436208318
mean population density for swz: 431.72477334320047
number of areas with builtup over the average: 120
number of areas considered urban: 1086
percentage of areas considered urban or builtup: 32.50070962248084
reading tcd population dataset...
population dataset read. len: 56649
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for tcd: 13.272959454866461
mean population density for tcd: 16399.80732183366
number of areas with builtup over the average: 573
number of areas considered urban: 23897
percentage of areas considered urban or builtup: 42.88160426485905
reading tgo population dataset...
population dataset read. len: 25785
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for tgo: 28.03693769602728
mean population density for tgo: 7889.09817755101
number of areas with builtup over the average: 564
number of areas considered urban: 8843
percentage of areas considered urban or builtup: 35.865813457436495
reading tjk population dataset...
population dataset read. len: 75173
merging with the builtup dataset...
population    0
builtup       0
dtype: int64
mean builtup for tjk: 215.6345773526843
mean population density for tjk: 3150.5155704480953
number of areas with builtup over the average: 2305
number of areas considered urban: 31014